<footer class="fmcc-footer">
    <div class="fmcc-footer-container">
  
      <div class="fmcc-footer-about">
        <div style="display: flex;">
         <img style="border-radius: 50px;" src="assets/mbandoLogo.jpeg" alt="Example" width="50px" height="50px" />
        <h3 style="margin-top: 10px;">FMCC</h3></div>
        <p>The Fako Multipurpose Cultural Center (FMCC) celebrates and preserves the rich heritage of the Fako people through storytelling, arts, youth programs, and community engagement.</p>
      </div>
  
      <div class="fmcc-footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/cultural">cultural</a></li>
          <li><a routerLink="/about">about</a></li>
          <li><a routerLink="/blog">blog</a></li>
          <li><a routerLink="/donate">Donate</a></li>
          <li><a routerLink="/contacts">Contact</a></li>
        </ul>
      </div>
  
      <div class="fmcc-footer-contact">
        <h4>Contact Us</h4>
        <p>Email: info&#64;fmcc.org</p>
        <p>Phone: +237 656539231</p>
        <p>Location: Buea, Fako Division, Cameroon</p>
        <div class="fmcc-footer-socials">
         <div class="social-icons" style="display: flex; gap: 10px;">
        <span style="background: #ffdb58; border-radius: 50px; padding: 10px;"><i style="padding: 5px; border-radius: 50px; background: green;" class="fab fa-facebook-f"></i></span>
        <span style="background: #ffdb58; border-radius: 50px; padding: 10px;"> <i style="padding: 5px; border-radius: 50px; background: green;" class="fab fa-instagram"></i></span>
        <span style="background: #ffdb58; border-radius: 50px; padding: 10px;"> <i style="padding: 5px; border-radius: 50px; background: green;" class="fab fa-twitter"></i></span>
        <span style="background: #ffdb58; border-radius: 50px; padding: 10px;"> <i style="padding: 5px; border-radius: 50px; background: green;" class="fab fa-youtube"></i></span>
        
       
       
        
      </div>
        </div>
      </div>
      
    </div>
    
    <div class="fmcc-footer-bottom">
      &copy; 2025 FMCC - Fako Multipurpose Cultural Center. All Rights Reserved.
    </div>
  </footer>
