
  <main>
    <!-- summary cards -->
    <section class="cards">
      <div class="card">
        <small>Total Donations</small>
        <span>50,000,000xaf</span>
      </div>
      
      <div class="card">
        <small>Top Donor (month)</small>
        <span>Naomi F.</span>
      </div>
    </section>

    <!-- donations table -->
    <section class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Donor</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Reference</th>
            <th>Status</th>
            <th style="text-align:center;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>00125</td>
            <td>John Doe</td>
            <td>₦ 50,000</td>
            <td>2025‑06‑05</td>
            <td>FDN‑2Q134</td>
            <td><span class="status paid">Paid</span></td>
            <td class="actions" style="text-align:center;">
                <i class="fas fa-eye"></i>
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td>00126</td>
            <td>Grace Ngoh</td>
            <td>₦ 100,000</td>
            <td>2025‑06‑06</td>
            <td>FDN‑2Q135</td>
            <td><span class="status pending">Pending</span></td>
            <td class="actions" style="text-align:center;">
              <button title="View details"><span class="material-symbols-outlined">visibility</span></button>
              <button title="Edit"><span class="material-symbols-outlined">edit</span></button>
              <button title="Delete"><span class="material-symbols-outlined">delete</span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>